body{
    padding: 0;
    margin: 0;
}

.navbar{
    background: rgb(14,148,67);
    background: linear-gradient(90deg, rgba(14,148,67,1) 0%, rgba(52,221,90,1) 69%);
    height: 100px;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;

}

.logo{
    margin-left: 30px;
    margin-top: 10px;
    position: absolute;
}

ul{
    margin-left: 1200px;
}

li{
    float: left;
    list-style: none;
    margin-left: 60px;
    color: white;
    font-size: 18px;
}

li:hover{
    color: #045690;
}